## SBIR/STTR Impact of University Commercializaton Research 
### NSF R&D INSTITUTIONS DATASET

### Ismael Rodriguez
### 18 JUN 2020

A. Software Preparation

In [31]:
import urllib.request
import json
import pprint
from pprint import pprint
import pandas as pd

B. Data Preparation

In [109]:
# Data retreived from US Dept of Education IPEDS on 06/18/20 @ https://nces.ed.gov/ipeds/datacenter/Data.aspx
dfIPEDS = pd.read_csv('data/IPEDS_Institutions_06182020.csv')
dfNSF = pd.read_csv('data/NSF_HERD_Export_06182020.csv')
# Data retreived from NSF on 06/18/2020 @ https://ncsesdata.nsf.gov/ids/herd
# for details see https://www.nsf.gov/statistics/srvyherd/

# Manual modifications to exported file to allow for further processing, primarily addition of OPEID for all schools
# This data set shows schools reporting 1M or more of expenditures

MINK IPEDS List

In [110]:
dfIPEDS.head()

,UnitID,Institution Name,State,ZIP,Longitude,Latitude,OPEID
0,177834,A T Still University of Health Sciences,MO,63501,-92.589183,40.193648,247700
1,488165,Academy of Cosmetology and Esthetics,MO,64772-2805,-94.375701,37.837500,4247100
2,451334,Academy of Hair Design-Springfield,MO,65804,-93.261354,37.180584,4037500
3,480879,Academy of Salon Professionals,MO,65301,-93.251559,38.690729,4212100
4,152798,Allen College,IA,50703-1999,-92.340148,42.530084,3069100

In [111]:
dfIPEDS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 385 entries, 0 to 384
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   UnitID            385 non-null    int64
 1   Institution Name  385 non-null    object
 2   State             385 non-null    object
 3   ZIP               385 non-null    object
 4   Longitude         385 non-null    float64
 5   Latitude          385 non-null    float64
 6   OPEID             385 non-null    int64
dtypes: float64(2), int64(2), object(3)
memory usage: 21.2+ KB

In [112]:
dfNSF.head()

,State,Institution,OPEID,Field,BroadField,FundingSource,2018,2017,2016,2015,2014
0,Missouri,A. T. Still University,247700,Total for selected values,Total for selected values,Total for selected values,0,"782,000","2,873,000","4,571,000","5,892,000"
1,Missouri,A. T. Still University,247700,Biological and biomedical sciences,Total for selected values,Total for selected values,0,"132,000","130,000",0,0
2,Missouri,A. T. Still University,247700,Biological and biomedical sciences,Life sciences,Total for selected values,0,"132,000","130,000",0,0
3,Missouri,A. T. Still University,247700,Biological and biomedical sciences,Life sciences,Nonfederal,0,"132,000","130,000",0,0
4,Missouri,A. T. Still University,247700,Health sciences,Total for selected values,Total for selected values,0,"650,000","2,743,000","2,904,000","926,000"

In [106]:
dfNSF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2287 entries, 0 to 2286
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          2287 non-null   object
 1   Institution    2287 non-null   object
 2   OPEID          2287 non-null   int64
 3   Field          2287 non-null   object
 4   BroadField     2287 non-null   object
 5   FundingSource  2287 non-null   object
 6   2018           2287 non-null   object
 7   2017           2287 non-null   object
 8   2016           2287 non-null   object
 9   2015           2287 non-null   object
 10  2014           2287 non-null   object
dtypes: int64(1), object(10)
memory usage: 196.7+ KB

dfNSF['OPEID'] = dfNSF['OPEID'].astype(str)
dfNSF['OPEID']=dfNSF['OPEID'].str[:6]
dfNSF['OPEID'] = dfNSF['OPEID'].astype(int)

In [113]:
# Extraction of ZIP adapted from https://stackoverflow.com/questions/51607400/how-to-extract-first-8-characters-from-a-string-in-pandas
dfIPEDS['ZIP5'] = dfIPEDS['ZIP'].str[:5]

In [114]:
dfIPEDS.head()

,UnitID,Institution Name,State,ZIP,Longitude,Latitude,OPEID,ZIP5
0,177834,A T Still University of Health Sciences,MO,63501,-92.589183,40.193648,247700,63501
1,488165,Academy of Cosmetology and Esthetics,MO,64772-2805,-94.375701,37.837500,4247100,64772
2,451334,Academy of Hair Design-Springfield,MO,65804,-93.261354,37.180584,4037500,65804
3,480879,Academy of Salon Professionals,MO,65301,-93.251559,38.690729,4212100,65301
4,152798,Allen College,IA,50703-1999,-92.340148,42.530084,3069100,50703

MINK NSF List

In [115]:
dfNSF.head()

,State,Institution,OPEID,Field,BroadField,FundingSource,2018,2017,2016,2015,2014
0,Missouri,A. T. Still University,247700,Total for selected values,Total for selected values,Total for selected values,0,"782,000","2,873,000","4,571,000","5,892,000"
1,Missouri,A. T. Still University,247700,Biological and biomedical sciences,Total for selected values,Total for selected values,0,"132,000","130,000",0,0
2,Missouri,A. T. Still University,247700,Biological and biomedical sciences,Life sciences,Total for selected values,0,"132,000","130,000",0,0
3,Missouri,A. T. Still University,247700,Biological and biomedical sciences,Life sciences,Nonfederal,0,"132,000","130,000",0,0
4,Missouri,A. T. Still University,247700,Health sciences,Total for selected values,Total for selected values,0,"650,000","2,743,000","2,904,000","926,000"

In [122]:
dfNSF.to_excel('data/NSF_Expenditures_by_institution_06182020.xls')

In [118]:
# merge adapted from https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

dfNSFLoc = pd.merge(dfNSF, dfIPEDS, how='left', on=['OPEID','OPEID'])

In [119]:
dfNSFLoc.head()

,State_x,Institution,OPEID,Field,BroadField,FundingSource,2018,2017,2016,2015,2014,UnitID,Institution Name,State_y,ZIP,Longitude,Latitude,ZIP5
0,Missouri,A. T. Still University,247700,Total for selected values,Total for selected values,Total for selected values,0,"782,000","2,873,000","4,571,000","5,892,000",177834,A T Still University of Health Sciences,MO,63501,-92.589183,40.193648,63501
1,Missouri,A. T. Still University,247700,Biological and biomedical sciences,Total for selected values,Total for selected values,0,"132,000","130,000",0,0,177834,A T Still University of Health Sciences,MO,63501,-92.589183,40.193648,63501
2,Missouri,A. T. Still University,247700,Biological and biomedical sciences,Life sciences,Total for selected values,0,"132,000","130,000",0,0,177834,A T Still University of Health Sciences,MO,63501,-92.589183,40.193648,63501
3,Missouri,A. T. Still University,247700,Biological and biomedical sciences,Life sciences,Nonfederal,0,"132,000","130,000",0,0,177834,A T Still University of Health Sciences,MO,63501,-92.589183,40.193648,63501
4,Missouri,A. T. Still University,247700,Health sciences,Total for selected values,Total for selected values,0,"650,000","2,743,000","2,904,000","926,000",177834,A T Still University of Health Sciences,MO,63501,-92.589183,40.193648,63501

In [120]:
dfNSFLoc.to_excel('data/NSF_Expenditures_by_loc_06182020.xls')

In [121]:
dfNSFLoc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2287 entries, 0 to 2286
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   State_x           2287 non-null   object
 1   Institution       2287 non-null   object
 2   OPEID             2287 non-null   int64
 3   Field             2287 non-null   object
 4   BroadField        2287 non-null   object
 5   FundingSource     2287 non-null   object
 6   2018              2287 non-null   object
 7   2017              2287 non-null   object
 8   2016              2287 non-null   object
 9   2015              2287 non-null   object
 10  2014              2287 non-null   object
 11  UnitID            2287 non-null   int64
 12  Institution Name  2287 non-null   object
 13  State_y           2287 non-null   object
 14  ZIP               2287 non-null   object
 15  Longitude         2287 non-null   float64
 16  Latitude          2287 non-null   float64
 17  ZIP5              2287 non-null   object
dtypes: float64(2), int64(2), object(14)
memory usage: 339.5+ KB